In [1]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [2]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [3]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [8]:
#new_tuple[1] = 13.8877

In [7]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [9]:
c = list(b) # ['Mumbai', 18.9949521]
print("c is: {0}".format(c))
c= tuple(c) # ('Mumbai', 18.9949521)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [14]:
a=10 
b=6
print("value of b and a is :{0} {1}".format(b,a))

value of b and a is :6 10