In [1]:
for i in range(1,5):
    print(i**2)

1
4
9
16

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [3]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [ ]:
# pattern to print-

*
* *
* * * 
* * * * 
* * * * *
* * * *
* * *
* *
*

In [8]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

In [4]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [9]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for i in nums:
    if int(i)%2 == 0:
        all_even += i
    else:
        all_odd += i

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

All Evens are : 8884828028822 & All odds are : 33793731

In [10]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [13]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [14]:
sentence = "Is Python simpler than R ?"
for word in sentence.split():
    print(word)

Is
Python
simpler
than
R
?

In [15]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [16]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [17]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [18]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [19]:
for val in students_data.values():
    print(val)

['Shivam Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Calcuttawala', 27]

In [20]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [21]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

In [24]:
for i in range(100):
    print(i)
    if i>50:
        continue
        print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [29]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3